* {
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
    /* position: relative; */
}

nav {
    /* border: 1px solid; */
    padding: 10px;
    text-align: center;
    height: 10vh;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 100px;
    background-color: white;
}

.list ul li {
    display: inline-block;
    margin: 10px 20px;
    padding-top: 10px;
}

.list ul li a {
    color: black;
}

.list ul li:hover {
    text-decoration: underline;
    transition: .3s;
}

.main {
    display: flex;
    justify-content: center;
    /* border: 1px solid; */
}

.container-profile {
    /* border: 1px solid; */
    margin: 40px 0;
    padding: 40px;
    height: 400px;
    background-color: #FFF2F2;
    /* animation: slide-in 1000ms; */
}

.main-left {
    width: 300px;
    /* border: 1px solid; */
    padding: 20px;
    text-align: justify;
    animation: slide-left 2000ms;
}

.main-right {
    width: 300px;
    text-align: center;
    /* border: 1px solid; */
}

.main-right img {
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    animation: slide-right 2000ms;
}

.container-hobby {
    padding: 60px;
    height: 400px;
    /* border: 1px solid red; */
}

.main-hobby {
    /* border: 1px solid; */
    width: 800px;
    text-align: center;
    margin: auto;
    display: flex;
}

.hobby-left img {
    width: 200px;
    border-radius: 5px;
    margin-top: 30px;
    animation: slide-left 2000ms;
}

.hobby-left img {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.hobby-right {
    text-align: justify;
    /* border: 1px solid; */
    padding: 20px;
    width: 800px;
    animation: slide-right 2000ms;
}

.container-about {
    /* background-color: #FFF2F2; */
    height: 500px;
    /* border: 1px solid; */
}

.main-about {
    text-align: center;
    width: 50%;
    margin: auto;
    padding: 40px;
    /* border: 1px solid blue; */
}

.container-img {
    /* border: 1px solid red; */
    text-align: center;
    padding: 10vh 0;
    height: 400px;
}

.container-img img {
    border-radius: 50%;
    animation: slide-in 2000ms;
    margin-top:80px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.college {
    background-color: #FFF2F2;
    height: 400px;
    /* border: 1px solid; */
    padding-top: 20px;
}

.main-college {
    /* border: 1px solid #FFF2F2; */
    width: 50%;
    margin: 100px auto;
    padding: 10px;
    animation: slide-up 2000ms;
    text-align: center;
}

@keyframes slide-in {
from {
transform: translatey(-100%);
}
to {
transform: translateX(0%);
}
}

@keyframes slide-up {
from {
transform: translatey(100%);
}
to {
transform: translatey(0%);
}
}

@keyframes slide-left {
from {
transform: translatex(-100%);
}
to {
transform: translateX(0%);
}
}

@keyframes slide-right {
from {
transform: translatex(+100%);
}
to {
transform: translateX(0%);
}
}

@media (max-width: 480px) {
    nav {
        height: 80px;
    }
    .container-img {
        padding: 35px;
        height: 200px;
    }
    .container-img img {
        width: 200px;
        height: 200px;
    }
    .container-profile {
        margin: 60px auto;
        height: 650px;
    }
    .container-profile img {
        width: 280px;
        height: 380px;
    }
    .main {
        display: block;
        padding: 0;
    }
    .container-hobby {
        padding: 0;
        overflow: scroll;
        height: 600px;
    }
    .hobby-left img {
        width: 400px;
        height: 500px;
    }
    .hobby-right {
        width: 300px;
    }
    .college {
        padding: 0px;
        height: 480px;
    }
    .main-about {
        padding: 0;
        width: 300px;
    }
}
